<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Obligator 1300</title>
    <link href="desktop.bundles/common/common.min.css" rel="stylesheet">
    <link href="desktop.bundles/index-bem/index-bem.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Obligator 1300</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <!--- widget: w-obligators-total [begin] --->
                        <div class="w-bem-obligators-total w-bem-obligators-total_size_small i-bem" onclick="return {'w-bem-obligators-total':{'obligators': [{'mid': 1, 'firstname': 'Vlad', 'lastname': 'Kurkin', 'phone': '+79251234567', 'obligation': 5000}, {'mid': 2, 'firstname': 'Anton', 'lastname': 'Sachkov', 'phone': '+79251234567', 'obligation': 4000}, {'mid': 3, 'firstname': 'Pavel', 'lastname': 'Masalskiy', 'phone': '+79251234567', 'obligation': 3000}, {'mid': 4, 'firstname': 'Ivan', 'lastname': 'Zasimov', 'phone': '+79251234567', 'obligation': 2000}, {'mid': 5, 'firstname': 'Dmitry', 'lastname': 'Polyakov', 'phone': '+79251234567', 'obligation': 1300}]}}">
                            <div class="b-obligators-total b-obligators-total_size_small i-bem" onclick="return {'b-obligators-total':{}}"></div>
                        </div>
                        <!--- widget: w-bem-obligators-total [end] --->
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container book">

        <!--- widget (main app): w-obligators [begin] --->
        <div class="w-bem-obligators i-bem" onclick="return {'w-bem-obligators':{}}">
            <div class="w-bem-obligators__content">
                <div class="w-bem-obligators__header">
                    <a href="#add" class="b-add-obligator btn btn-success">+ Add</a>
                </div>

                <div class="w-bem-obligators__list-row w-bem-obligators__list-row_position_first">
                    <div class="w-bem-obligators__list-item">Firstname</div>
                    <div class="w-bem-obligators__list-item">Lastname</div>
                    <div class="w-bem-obligators__list-item">Phone</div>
                    <div class="w-bem-obligators__list-item">Obligation</div>
                    <div class="w-bem-obligators__list-item">Actions</div>
                </div>
                <div class="w-obligators__list"></div>

                <div class="w-bem-obligators__total">
                    <!--- widget: w-bem-obligators-total [begin] --->
                    <div class="w-bem-obligators-total i-bem" onclick="return {'w-bem-obligators-total':{}}">
                        <div class="b-obligators-total i-bem" onclick="return {'b-obligators-total':{}}"></div>
                    </div>
                    <!--- widget: w-bem-obligators-total [end] --->
                </div>
            </div>
        </div>
        <!--- widget (main app): w-bem-obligators [end] --->

    </div>

    <div class="b-preloader b-preloader_visibility_visible i-bem" onclick="return {'b-preloader':{}}">
        <div class="b-preloader__text">Загрузка...</div>
    </div>

    <script type="text/template" id="w-obligators__list-item">
        <div class="b-obligator i-bem w-bem-obligators__list-row" onclick="return {'b-obligator':{}}">
            <div class="b-obligator__firstname w-bem-obligators__list-item"><%= firstname %></div>
            <div class="b-obligator__lastname w-bem-obligators__list-item"><%= lastname %></div>
            <div class="b-obligator__phone w-bem-obligators__list-item"><%= phone %></div>
            <div class="b-obligator__obligation w-bem-obligators__list-item"><%= obligation %></div>
            <div class="b-obligator__controls w-bem-obligators__list-item">
                <a href="#edit/<%= mid %>" type="button" class="btn btn-xs btn-default b-obligator__edit">Edit</a>
                <button type="button" class="btn btn-xs btn-warning b-obligator__full-redraw">Full redraw</button>
                <button type="button" class="btn btn-xs btn-danger b-obligator__remove">Remove</button>
            </div>
        </div>
    </script>

    <script type="text/template" id="js-book-templates-item-form">
        <div class="popup popup_visible_hidden">
            <div class="popup__paranja"></div>
            <div class="popup__content"></div>
        </div>
    </script>

    <script type="text/template" id="js-book-templates-item-form-inner">
        <form class="js-book-popup-form" role="form" autocomplete="off">
            <div class="form-group">
                <label>Firstname</label>
                <input type="text" class="form-control" placeholder="Firstname" name="firstname" value="<%= (typeof(firstname) != "undefined") ? firstname : '' %>" />
            </div>
            <div class="form-group">
                <label>Lastname</label>
                <input type="text" class="form-control" placeholder="Lastname" name="lastname" value="<%= (typeof(lastname) != "undefined") ? lastname : '' %>" />
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="phone" class="form-control" placeholder="Phone" name="phone" value="<%= (typeof(phone) != "undefined") ? phone : '' %>" />
            </div>
            <div class="form-group">
                <label>Obligation</label>
                <input type="text" class="form-control" placeholder="Obligation" name="obligation" value="<%= (typeof(obligation) != "undefined") ? obligation : '' %>" />
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <button class="js-book-popup-close btn btn-danger">Close</button>
        </form>
    </script>

    <script src="desktop.bundles/common/common.min.js"></script>
    <script src="desktop.bundles/index-bem/index-bem.min.js"></script>
    <script>
        BEM.DOM.init();

        modules.require(['obligators'], function(obligators) {
            obligators.setObligationData([{'mid': 1, 'firstname': 'Vlad', 'lastname': 'Kurkin', 'phone': '+79251234567', 'obligation': 5000}, {'mid': 2, 'firstname': 'Anton', 'lastname': 'Sachkov', 'phone': '+79251234567', 'obligation': 4000}, {'mid': 3, 'firstname': 'Pavel', 'lastname': 'Masalskiy', 'phone': '+79251234567', 'obligation': 3000}, {'mid': 4, 'firstname': 'Ivan', 'lastname': 'Zasimov', 'phone': '+79251234567', 'obligation': 2000}, {'mid': 5, 'firstname': 'Dmitry', 'lastname': 'Polyakov', 'phone': '+79251234567', 'obligation': 1300}]);
        });
    </script>
</body>
</html>
